<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="LoggerSection" type="Common.Logging.ConfigurationSections.LoggerConfigurationSection, 
          Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.net>
    <mailSettings>
      <smtp from="ilkerhalil@gmail.com">
        <network clientDomain="capitalturkey.com" host="smpt.capitalturkey.com" userName="ilkerturer" password="123456"/>
      </smtp>
    </mailSettings>
  </system.net>
  <LoggerSection>
    
    <Loggers>
      <add name="debug" type="Logger.DebugImpl.DebugLogger,Logger.DebugImpl,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <add name="eventViewer" type="Logger.EventViewerImpl.EventViewerLogger,Logger.EventViewerImpl,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
        <Constructor>
          <Parameters>
            <add name="Source" value="Merhaba" type="System.String"/>
            <add name="Event" value="Merhaba" type="System.String"/>
            <add name="SLog" value="Merhaba" type="System.String"/>
          </Parameters>
        </Constructor>
      </add>
      
    </Loggers>
  </LoggerSection>

</configuration>